{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<h1>Drive this community, Suggest a motion or vote on one!</h1>

{% if user.is_authenticated %}
  <a href='{% url 'motions:signout' %}'>Logout</a>
{% endif %}

<form action="{% url 'motions:create' %}" method="post">
  {% csrf_token %}
  {% bootstrap_form form layout='inline' %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Vote
    </button>
  {% endbuttons %}
</form>

{% include 'motions/_alert_messages.html' %}

{% if motions_list %}
    <ul>
    {% for motion in motions_list %}
        <li>
          <b>{{ motion.votes.count }}</b>
          <p>{{ motion.suggestion_text }}</p>
          <a href='{% url 'motions:vote' motion_pk=motion.pk %}'>Support</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Motions proposed yet.</p>
{% endif %}
