<h1>Drive this community, Suggest a motion or vote on one!</h1>

<form action="{% url 'motions:create' %}" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Suggest" />
</form>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if motions_list %}
    <ul>
    {% for motion in motions_list %}
        <li>
          <b>{{ motion.votes.count }}</b>
          <p>{{ motion.suggestion_text }}</p>
          <a href='{% url 'motions:vote' motion_pk=motion.pk %}'>Support</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Motions proposed yet.</p>
{% endif %}
